@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">Access Denied!</h1>